# Python
__pycache__/
*.pyc

# Entornos virtuales
venv/
.env/

# Datos


# Imágenes generadas


# Java / Eclipse / Maven (por lo que veo en tu caso)
*.jar
*.asc
.p2/
.metadata/

# Sistema
.DS_Store
Thumbs.db

# VSCode
.vscode/